<nav class="navbar-genre text-center">
    <ul class="genre-menu">
        <li>
            <button class="btn-genre">
                <img ngSrc="/images/alien.png" alt="" width="75" height="75">
                <span class="txt-genre">Science-fiction</span>
            </button>
        </li>
        <li>
            <button class="btn-genre">
                <img ngSrc="/images/amour.png" alt="" width="75" height="75">
                <span class="txt-genre">Romance</span>
            </button>
        </li>
        <li>
            <button class="btn-genre">
                <img ngSrc="/images/thriller.png" alt="" width="75" height="75">
                <span class="txt-genre">Thriller</span>
            </button>
        </li>
        <li>
            <button class="btn-genre">
                <img ngSrc="/images/dessin-anime.png" alt="" width="75" height="75">
                <span class="txt-genre">Famillial</span>
            </button>
        </li>
    </ul>
</nav>